<a href="https://colab.research.google.com/github/KulikovRoman/python_hw9/blob/master/HW_9_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('sample_data/california_housing_train.csv')

Задача 40: Работать с файлом california_housing_train.csv, который находится в папке sample_data. Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population).

In [8]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [24]:
print(df['median_house_value'].sum())

3524115510.0

In [25]:
print(df['median_house_value'].mean())

207300.91235294117

In [11]:
df[df['population'] < 500]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
17,-114.65,32.79,21.0,44.0,33.0,64.0,27.0,0.8571,25000.0
19,-114.67,33.92,17.0,97.0,24.0,29.0,15.0,1.2656,27500.0
21,-114.73,33.43,24.0,796.0,243.0,227.0,139.0,0.8964,59200.0
...,...,...,...,...,...,...,...,...,...
16944,-124.14,40.67,23.0,580.0,117.0,320.0,109.0,4.2054,130600.0
16951,-124.15,40.81,50.0,340.0,74.0,235.0,83.0,1.7500,67500.0
16969,-124.17,40.80,52.0,661.0,316.0,392.0,244.0,0.9570,60000.0
16982,-124.18,40.62,35.0,952.0,178.0,480.0,179.0,3.0536,107000.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0

In [28]:
print(df[df['population'] < 500]['median_house_value'].sum())

330900822.0

In [27]:
print(df[df['population'] < 500]['median_house_value'].mean())

206683.83635227982

Задача 42: Узнать какая максимальная households в зоне минимального значения population.

In [38]:
#df[df['population'] < 20]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
288,-116.76,34.14,4.0,42.0,10.0,9.0,3.0,0.5360,42500.0
1466,-117.19,32.75,52.0,25.0,5.0,13.0,5.0,0.5360,162500.0
2907,-117.76,35.22,4.0,18.0,3.0,8.0,6.0,1.6250,275000.0
2990,-117.79,35.21,4.0,2.0,2.0,6.0,2.0,2.3750,137500.0
3275,-117.86,33.67,16.0,20.0,5.0,15.0,5.0,3.8750,450000.0
4502,-118.04,33.90,36.0,15.0,5.0,15.0,6.0,0.4999,162500.0
5027,-118.12,34.71,46.0,40.0,10.0,14.0,7.0,1.1250,225000.0
8170,-118.43,33.97,16.0,70.0,7.0,17.0,4.0,7.7197,500001.0
8232,-118.44,34.04,16.0,18.0,6.0,3.0,4.0,0.5360,350000.0
10356,-120.13,35.87,26.0,48.0,8.0,13.0,8.0,2.3750,71300.0
10911,-120.85,37.75,26.0,28.0,4.0,9.0,5.0,1.6250,85000.0
13531,-121.96,37.13,26.0,50.0,5.0,17.0,4.0,15.0001,400000.0
14105,-122.06,37.39,26.0,18.0,4.0,8.0,4.0,3.7500,375000.0
14501,-122.14,37.50,46.0,30.0,4.0,13.0,5.0,15.0001,500001.0
15369,-122.29,37.81,46.0,12.0,4.0,18.0,7.0,0.4999,67500.0
15656,-122.37,37.60,26.0,15.0,3.0,11.0,3.0,5.0480,350000.0
16309,-122.50,37.79,52.0,8.0,1.0,13.0,1.0,15.0001,500001.0
16801,-123.17,40.31,36.0,98.0,28.0,18.0,8.0,0.5360,14999.0

In [44]:
# print(df[df['population'] == 3]['households'].max())

4.0

In [53]:
df1 = df.loc[df.population < df.population.quantile(.15)]
print(df1)
print(df.population.quantile(.15))
print(df1.households.max())

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
7        -114.59     34.83                41.0        812.0           168.0
12       -114.61     34.84                48.0       1291.0           248.0
17       -114.65     32.79                21.0         44.0            33.0
...          ...       ...                 ...          ...             ...
16969    -124.17     40.80                52.0        661.0           316.0
16982    -124.18     40.62                35.0        952.0           178.0
16989    -124.21     40.75                32.0       1218.0           331.0
16992    -124.23     40.81                52.0       1112.0           209.0
16994    -124.25     40.28                32.0       1430.0           419.0

       population  households  median_income  median_house_value
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
7           375.0       158.0         1.7083             48500.0
12          580.0       211.0         2.1571             48600.0
17           64.0        27.0         0.8571             25000.0
...           ...         ...            ...                 ...
16969       392.0       244.0         0.9570             60000.0
16982       480.0       179.0         3.0536            107000.0
16989       620.0       268.0         1.6528             58100.0
16992       544.0       172.0         3.3462             50800.0
16994       434.0       187.0         1.9417             76100.0

[2549 rows x 9 columns]
624.0
450.0